.container
  %h1 
    About
  .lead
    %ul
      %li
        based on 
        %a{href: "http://tech.pro/tutorial/1303/bootstrap-your-web-application-with-ruby--sinatra"} http://tech.pro/tutorial/1303/bootstrap-your-web-application-with-ruby--sinatra
        and adopted to 
        %a{href: "http://getbootstrap.com/"} Twitter Bootsrap (v3.0.3)
      %li
        theme is
        %a{href: "http://getbootstrap.com/examples/starter-template/"} http://getbootstrap.com/examples/starter-template/
      %li
        why Fascade as class name? A tribute to 
        %a{href: "https://github.com/majofi"} Mathias Fiedler
        ;-)
  %code
    Feel free to use and adopt this to your own needs. You're welcome.